{% if highlight_font_name %}
.pagina-sobre .creditos p { font-family: "{{ highlight_font_name }}" }
.pagina-pl .cabecalho-pl h1 { font-family: "{{ highlight_font_name }}" }
.pagina-pl .tramitacoes .row .data { font-family: "{{ highlight_font_name }}" }
.pagina-pl .pl-acao h3 { font-family: "{{ highlight_font_name }}" }
.pagina-agenda .datas-agenda .agenda-data-semana { font-family: "{{ highlight_font_name }}" }
.pagina-agenda .datas-agenda .agenda-data-mes { font-family: "{{ highlight_font_name }}" }
.pagina-novos-pls .datas-novos-pls .novos-pls-data-semana { font-family: "{{ highlight_font_name }}" }
.pagina-novos-pls .datas-novos-pls .novos-pls-data-mes { font-family: "{{ highlight_font_name }}" }
#main_navbar a.navbar-brand { font-family: "{{ highlight_font_name }}" }
.main-page-header h1 { font-family: "{{ highlight_font_name }}" }
.rodape .navegacao p > a { font-family: "{{ highlight_font_name }}" }
.pls-item .pls-data { font-family: "{{ highlight_font_name }}" }
h4 { font-family: "{{ highlight_font_name }}" }
{% endif %}

.rodape .navegacao h6 { font-family: "Avenir Book" }
.pagina-pl .pl-acao h2 { font-family: "Avenir Book" }

#main_navbar {
  background-color: {{ header_background_color_dark }}
}

.main-page-header {
  background-color: {{ header_background_color }} 
}

.pagina-index .links-principais {
  background-color: {{ header_background_color_light }}
}

.pagina-index .links-principais a,
h2.section-title,
.rodape .navegacao h6 {
  color: {{ text_highlight_color }}
}

.pagina-index .links-principais svg {
  fill: {{ text_highlight_color }} 
}
