.pagina-novos-pls {
    .filtros-novos-pls {
      background-color: @agenda-grey;
      padding-top: 24px;
      padding-bottom: 24px;
  
      .form-control {
        width: auto !important;
        min-width: 150px !important;
        display: inline-block !important;
      }
    }
  
    .datas-novos-pls {
      background-color: @agenda-grey;
      border-top: 1px solid @grey-border-agenda;
  
      a:focus, a:active, a:hover {
        text-decoration: none;
      }
  
      .row > div {
        padding: 30px;
        .make-right-divider(1px, @grey-border-agenda);
        
        &:last-child {
          border-right: none;
        }
  
        &.active {
          background-color: @white;
        }
      }
  
      .navegacao {
        color: @bright-sky-blue;
        opacity: 0.25;
        font-size: 40px;
        margin-top: 16px;
      }
  
      .disabled {
        &, p, a, .navegacao {
          color: @disabled-silver;
        }
      }
  
      .novos-pls-data-semana {
        color: @powder-blue;
        font-family: Avenir;
        font-weight: 900;
        font-size: 14px;
        margin-bottom: 2px;
      }
  
      .novos-pls-data-mes {
        color: @greyish-brown;
        font-family: Avenir;
        font-weight: 300;
        font-size: 30px;
        margin: 0;
      }
      
      .novos-pls-data-hoje {
        color: @golden-yellow;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
  
    .conteudo-principal {
      padding-top: 30px;
      padding-bottom: 60px;

      .novos-pls_item { 
        min-height: 180px;
        padding-bottom: 55px;
        border-bottom: 1px solid #ededed;
        margin-bottom: 35px;

        .pls-icones img {
          padding: 0px 2px;
          height: 15px;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
          margin-bottom: 0;
        }

      }

      .novos-pls-data-projeto {
        color: @iris;
        font-size: 16px;
      }

      .novos-pls-nome-projeto {
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 0;
        color: #757575;
      }

      .novos-pls-detalhes-projeto {
        background-color: rgba(225, 225, 225, 0.36);
        width: 100%;
        margin-bottom: 35px;
      }
  
      .novos-pls-titulos-projeto {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

        th {
          font-size: 9px;
          color: #2b2929;
          text-transform: uppercase;
	  padding: 10px;
        }

      }

      .novos-pls-descricao-projeto {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

        td {
          font-size: 13px;
	  padding: 10px;
        }
      }

      .novos-pls-titulo-detalhe {
        font-size: 15px;
        margin-top: 0px;
        text-transform: lowercase;
        margin-bottom: 12px;
      }

      .novos-pls-descricao-detalhe {
        margin-bottom: 30px;
      }

      .btn{
        .btn-primary {margin: 40px 0;}
      }

      .divider-horizontal {
        width: 90%;
        margin: 30px auto;
      }


    }
  }
